  body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
  }
  
  .title-category{
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin-top: 12px;
    color: #4285f4;
  }

  .tableCategory{
    margin-top: 75px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    min-width: 100px;
    text-align: center;
    line-height: 75px;
  }
  .tableCategory .thead-light th{
    line-height: 50px;
    background-color: #E91E63;
    color: #ffffff;
    border-color: white;
    font-size: 18px;
    font-weight: 600;
  }
  .tableCategory .table-bordered{
    border: none;
  }
  .itemCategory {
    min-width: 175px;
    font-weight: 400;
    font-size: 15px;
  }
  
  .manageCategory{
    min-width: 250px;
  }
  .manageCategory .btn{
    border-radius: 25px;
    font-size: 12px;
    color: white;
  }
  .btn-edit{
    background-color:#4285f4 !important;
    border: none;
  }
  .btn-outline-delete{
    border: 2px solid #4285f4 !important;
    color: #4285f4 !important;
  }
  