  body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
  }
  .title-user{
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    margin-top: 12px;
    color: #4285f4;
  }
  .row.user{
    display: flex;
    overflow-y: scroll;
    height: 75vh;
  }
  .tableUser{
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    min-width: 100px;
    text-align: center;
    line-height: 75px;
  }
  .tableUser .thead-light th{
    line-height: 50px;
    background-color: #E91E63;
    color: #ffffff;
    border-color: white;
    font-size: 18px;
    font-weight: 600;
  }
  .tableUser .table-bordered{
    border: none;
  }
  .itemUser {
    min-width: 200px;
    font-weight: 400;
    font-size: 15px;
  }
  .manageUser{
    min-width: 250px;
  }
  .btn.btn-md{
    border-radius: 25px;
  }
  .btn-edit{
    background-color:#4285f4 !important;
    border: none;
  }
  .btn-outline-delete{
    border: 2px solid #4285f4 !important;
    color: #4285f4 !important;
  }
  