.backgroundLogin{
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    margin-left: 200px;
}
.cardLogin {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: absolute;
    display: block;
    width: 400px;
    margin-top: 360px;
    margin-left: 650px;
    /* padding: 10px 32px 12px; */
    /* background-color: #ffffff; */
    border-radius: 12px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.logo{
    height: 75px;
}
.form-group{
    text-align: left
}
.form-control{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }